
#map {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
    position: absolute;
    z-index: 2;
    font-family: georgia;
    font-size: 9px;
    line-height: 1.4;
    background: black;
    color: white;
    right: 1070px;
    top: 0px;
    border:solid;
    text-align: center;
    opacity: 0.75;
  }

